    <% include partials/indexheader.ejs %>
    <section class="main-section jumbotron">
      </div>
    </section>
    <div class="container">
    <section class="section1">
      <button type="button" id="btn1" class="btn btn-success btn-block w3-animate-bottom">Add Product</button>
    </section>
  </div>
    <div class="container">
        <form action="/" method="POST">
    <section id="section2" class="w3-animate-top">
      
          <div class="form-group"></div>
        </section>
      </form>
      
  </div>
    <hr>
    <p id="error"></p>
    <hr>
    <h2> THE PRODUCT DETAILS WILL BE DEMONSTRATED HERE </h2>
    <section id="searchArea">
    </section>
    <section id="section3">
        <ul id="ul" class="w3-animate-right">
          <% storeData.forEach((data)=>{ %>
           <li> <%= data.name %>'s price is <%= data.price %> whose quantity is <%= data.quantity %> has description:- <%= data.desc %> </li>
           <button class="btn btn-warning" id="edit">EDIT</button>
           <button class="btn btn-danger" id="delete">DELETE</button>
          <% }) %>
          <div id="desc">
          </div>
        </ul>
    </section>
    
<% include partials/indexfooter.ejs %>


